# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import gmaps.datasets
from pprint import pprint
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Read the csv file, convert it to a dataframe and display it
file = pd.read_csv("../output_data/cities.csv")
data = pd.DataFrame(file)
data

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#import api key for google
gmaps.configure(api_key="AIzaSyDs2_K31bVo8mzRr2Qrznk51NE4gbfhdyk")

In [10]:
#create lists to store that lat/long and humidities
lat_long = []
humidities = []

#initialize a rowCounter to use in our for loop to pull our desired values
#from the table
rowCounter = -1

#initialize a for loop that will go through the rows and grab the lat,
#long, and humidites for all of the cities
for locations in data.iterrows():
    rowCounter = rowCounter + 1
    lat_long.append(tuple((data["Lat"][rowCounter], data["Lng"][rowCounter])))
    humidities.append(data["Humidity"][rowCounter])

#map our points on the map and show the figure
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(lat_long, weights=humidities,
                                 dissipating=False, max_intensity=100,
                                 point_radius =1))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#Get the desired weather conditions and merge them all together
over70 = data[data["Max Temp"] > 70]
under80 = data[data["Max Temp"] < 80]
windspeed = data[data["Wind Speed"] < 10]
cloudiness = data[data["Cloudiness"] == 0]

first_two = pd.merge(over70, under80, how="inner")
first_three = pd.merge(first_two, windspeed, how="inner")
hotel_df = pd.merge(first_three, cloudiness, how="inner")
hotel_df = hotel_df.dropna()
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
2,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
3,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
4,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
5,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
6,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
7,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#Create a new column to hold the hotel names
hotel_df["Hotel Name"] = ""
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
1,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,
2,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,
3,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,
4,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,
5,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,
6,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,
7,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,

In [7]:
#put all of the latitude and longitude values in a list
lat = hotel_df["Lat"].tolist()
long = hotel_df["Lng"].tolist()

#define g key
google_key = "AIzaSyDs2_K31bVo8mzRr2Qrznk51NE4gbfhdyk"

#grab the base url 
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

#setting the values for my parameters
target_type = "hotel"
radius = 5000

#initialize the value for the row count
countNum = -1

#create a for loop that will loop through the rows to get the hotel names
#for the desired cities. 
for rows in hotel_df.iterrows():
    
    countNum = countNum + 1
    try:
        params = {
            "location": f"{lat[countNum]}, {long[countNum]}",
            "types": target_type,
            "radius": radius,
            "key": "AIzaSyDs2_K31bVo8mzRr2Qrznk51NE4gbfhdyk"
        }

        response = requests.get(base_url + target_city, params=params).json()
        hotel_df["Hotel Name"].iloc[countNum] = response["results"][1]["name"]
    except:
        hotel_df["Hotel Name"].iloc[countNum] = "Hotel not found"
    continue
    
hotel_df

C:\Users\aliny\Anaconda3b\envs\PythonData\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
1,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,Hotel not found
2,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,Hotel not found
3,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,Hotel not found
4,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,Hotel not found
5,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,Hotel not found
6,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,Hotel not found
7,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,Hotel not found

In [12]:
narrowed_city_df = hotel_df
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig.add_layer(gmaps.heatmap_layer(lat_long, weights=humidities, 
                                  dissipating=False, max_intensity=100,
                                 point_radius =1))
# Display Map
fig

Figure(layout=FigureLayout(height='420px'))